ZnURL does not parse some URL


Such as the following one:

```
https://doc-si.inria.fr/spaces/SU/pages/109216287/Multi-Factor+Authentication#MultiFactorAuthentication-Présent
ation:
```

This is a bit annoying since this is apparently a valid one or at least one that people use.

```
'https://doc-si.inria.fr/spaces/SU/pages/109216287/Multi-Factor+Authentication#MultiFactorAuthentication-Présent
ation:' asUrl
```

Copying `https://fr.wikipedia.org/wiki/Pr%C3%A9sentation` and pasting it into the address bars of Chrome and Safari gives:

<p align="center">
<img width="614" src="https://github.com/user-attachments/assets/90e585c1-1f5b-4888-8c37-7780781633cc" />
</p>

<p align="center">
<img width="614" src="https://github.com/user-attachments/assets/f472af27-b747-4d7c-8aed-4f56405b6b92" />
</p>

Copying that back from each browser’s address bar and pasting it into a text document gives:

<p align="center">
<img width="296" src="https://github.com/user-attachments/assets/ff69b8d1-1acc-470e-a756-8f7e9cffba38" />
</p>

I assume the browsers are using the conversion between URIs and IRIs described in [section 3 of RFC 3987](https://www.rfc-editor.org/rfc/rfc3987#section-3).

There’s an issue asking for IRI support in Zinc: [Zinc issue #14](https://github.com/svenvc/zinc/issues/14).

I tried something here: https://github.com/svenvc/zinc/commit/d8bdc62bf03781fc0f7acdf3c2627290531dcadf

It is quite opportunistic but it might work.